body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

body, code {
  font-family: 'Roboto Mono', SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  font-weight: 400;
}

a, p, li {
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

blockquote {
  border-left: 4px solid #e0e0e0;
  margin: 0;
  padding: 0 20px;
}

blockquote p {
  color: #606060
}

h1, h2, h3, h4, h5, h6, div {
  font-size: 16px;
}

h1 {
  color: #000000;
}

h2 {
  color: #606060;
}

h3, h4, h5, h6 {
  color: #909090;
  margin: 35px 0 25px;
}

hr {
  border-top: none;
  border-color: #e0e0e0;
}

img {
  max-width: 100%;
}

p {
  line-height: 1.7em;
}

ul {
  margin: 10px 0 30px;
}

li {
  margin: 10px 0;
  line-height: 1.5em;
}

li ul {
  margin: 10px 0 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, table th, table td {
  border: 1px solid #d0d0d0;
}

table th, table td {
  padding: 5px 10px;
}

table, .small, .tag, .nav a, .foot, .foot .lace,
.page-head .time, .page-head .lmod,
.dev-item ul, .tags, .page-count,
.pages .page-time .time, .pages .page-time .lmod {
  font-size: 13px;
}

.tag-count {
  font-size: 11px;
}

.faint {
  color: #909090;
}

.hide {
  display: none;
}

.sortable table th {
  cursor: pointer;
  padding-right: 5px;
}

.sortable table th:focus, .sortable table th:hover {
  background-color: #f8f8f8;
}

.sortable table th:after {
  content: '';
  float: right;
  margin-top: 5px;
  border-width: 0 5px 5px;
  border-style: solid;
  border-color: #606060 transparent;
  visibility: hidden;
  opacity: 0;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.sortable table th[aria-sort=ascending]:after {
  border-bottom: none;
  border-width: 5px 5px 0;
}

.sortable table th[aria-sort]:after {
  visibility: visible;
  opacity: 0.4;
}

.sortable table th:focus:after, .sortable table th:hover:after {
  visibility: visible;
  opacity: 1;
}

.tag {
  display: inline-block;
  border-radius: 2px;
  margin: 5px;
  padding: 0 4px;
  line-height: 1.5em;
}

.tag, .tag:link, .tag:visited {
  background-color: #f0f0f0;
  color: #808080;
  border: 1px solid #e0e0e0;
}

.tag:focus, .tag:hover {
  color: #404040;
  border-color: #404040;
}

.tag:active {
  color: #404040;
  border-color: #404040;
}

.tag.active {
  background-color: #e0e0e0;
  color: #000000;
  border-color: #000000;
}

.nav, .page, .foot {
  max-width: 800px;
  min-width: 240px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  padding: 20px;
}

.nav a {
  color: #606060;
  padding: 4px;
}

.nav a:focus, .nav a:hover {
  color: #000000;
}

.nav a.here {
  font-weight: 700;
}

.nav .root {
  white-space: nowrap;
}

.nav .cup {
  margin-left: -5px;
  margin-right: 10px;
  vertical-align: middle;
  opacity: .3;
}

.nav a:focus img.cup, .nav a:hover img.cup {
  opacity: 1;
}

.nav a.here .cup {
  opacity: .5;
}

.nav .links a {
  margin-left: 22px;
}

.page {
  padding: 20px;
}

.page code {
  font-size: 15px;
  background-color: #e0e0e0;
  padding: 2px 3px;
  border-radius: 2px;
}

.page p {
  text-align: justify;
}

.page pre {
  border-left: solid 3px #d0d0d0;
  overflow-x: auto;
}

.page pre code {
  display: inline-block;
  background-color: #f0f0f0;
  padding: .5em 1em;
  line-height: 1em;
  border-radius: 0;
}

.page-head {
  margin-bottom: 50px;
}

.page-head h1.title {
  margin: 20px 0 0;
  text-align: center;
}

.page-head .tags, .page-head .time, .page-head .lmod {
  text-align: center;
}

.page-head .tags {
  margin-top: 10px;
}

.page-head .time, .page-head .lmod {
  font-weight: 700;
  line-height: 1.5em;
}

.page-head .time {
  color: #b0b0b0;
  margin-top: 25px;
}

.page-head .lmod {
  color: #808080;
}

.page-body a {
  color: #3f51b5;
}

.page-body a:focus, .page-body a:hover {
  color: #f50057;
}

.page-body div.i {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  margin: 15px 0;
}

.page-body div.i img {
  margin: 15px 0;
}

.page-body div.i p {
  margin: 0;
  padding: 0;
}

.page-body h1 {
  margin: 60px 0 30px;
}

.page-body h2 {
  margin: 50px 0 30px;
}

.page-body .tags {
  margin-bottom: 40px;
}

.page-body .tags .tag {
  margin: 5px;
  padding: 0;
}

.page-body .tag {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
}

.page-body .tag-name {
  flex-grow: 1;
  padding: 0 4px;
}

.page-body .tag.clear {
  font-weight: 700;
  color: #a0a0a0;
}

.page-body .tag-count {
  flex-grow: 1;
  font-weight: 700;
  background-color: #f8f8f8;
  color: #b0b0b0;
  padding: 0 4px;
  border-left: 1px solid #e8e8e8;
  border-radius: 0 2px 2px 0;
}

.page-body .tag:focus .tag-count,
.page-body .tag:hover .tag-count,
.page-body .tag:active .tag-count,
.page-body .tag.active .tag-count {
  color: #606060;
}

.page-body .tag.active .tag-count {
  background-color: #f0f0f0;
  border-left-color: #d8d8d8;
}

.page-body .page-count {
  margin-top: 10px;
}

.-welcome p {
  color: #e0e0e0;
  line-height: 1.5em;
}

.dev-item h1 {
  margin-bottom: 20px;
}

.dev-item li {
  margin: 5px 0;
}

.tags, .pages {
  list-style: none;
  padding: 0;
}

.tags {
  color: #a0a0a0;
  margin: 0 10px;
}

.tags li {
  display: inline;
}

.tags .tag, .tags .tag:link, .tags .tag:visited {
  background-color: #f0f0f0;
  color: #808080;
  border: 1px solid #e0e0e0;
}

.tags .tag:focus, .tags .tag:hover {
  color: #404040;
  border-color: #404040;
}

.tags .tag:active {
  color: #404040;
  border-color: #404040;
}

.tags .tag.active {
  background-color: #e0e0e0;
  color: #000000;
  border-color: #000000;
}

.pages li {
  margin: 5px -10px;
  padding: 20px;
  line-height: 2em;
}

.pages li:focus, .pages li:hover {
  background-color: #f8f8f8;
}

.pages .page-time {
  float: left;
  margin: 0 15px 0 0;
}

.pages .page-time .time, .pages .page-time .lmod, .pages .name {
  font-weight: 700;
  line-height: 1.5em;
}

.pages .page-time .time {
  color: #b0b0b0;
  margin-top: -.25em;
}

.pages .page-time .lmod {
  color: #808080;
}

.pages .name {
  padding: 15px 20px;
}

.pages .page-tags {
  display: inline-block;
  list-style: none;
  margin: 0 0 0 5px;
  padding: 0;
}

.pages .page-tags li {
  display: inline;
  margin: 0;
  padding: 0;
}

.pages .page-tags .tag.active {
  background-color: #ffffff;
  color: #b0b0b0;
  border-color: #d8d8d8;
}

.pages .page-tags .tag:focus, .pages .page-tags .tag:hover {
  color: #404040;
  border-color: #404040;
}

.foot {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  margin: 20px auto;
  padding: 30px 20px;
}

.foot:focus a, .foot:hover a {
  color: #3f51b5;
}

.foot:focus a.froot, .foot:hover a.froot {
  color: #808080;
}

.foot a {
  color: #9fa8eb;
}

.foot a.froot, .foot span.error {
  color: #b0b0b0;
}

.foot a:focus, .foot a:hover {
  font-weight: 700;
}

.foot a span.slip, .foot a span.slip {
  font-weight: 400;
}

.foot span.stride {
  flex-grow: 1;
}

@media all and (min-width:480px) and (max-width: 800px) {
  blockquote {
    padding: 0 15px;
  }

  h1, h2, h3, h4, h5, h6, div {
    font-size: 14px;
  }

  ul {
    margin: 10px 0 25px;
    padding-inline-start: 25px;
  }

  li {
    margin: 8px 0;
  }

  table, .small, .tag, .nav a, .foot, .foot .lace,
  .page-head .time, .page-head .lmod,
  .dev-item ul, .tags, .page-count,
  .pages .page-time .time, .pages .page-time .lmod {
    font-size: 12px;
  }

  .tag {
    margin: 4px;
    padding: 0 3px;
  }

  .nav {
    margin-top: 8px;
    padding: 20px;
  }

  .nav .links a {
    margin-left: 16px;
  }

  .page {
    padding-top: 10px;
  }

  .page code {
    font-size: 13px;
  }

  .page-head {
    margin-bottom: 40px;
  }

  .page-head h1.title {
    margin-top: 10px;
  }

  .page-head .tags {
    margin-top: 8px;
  }

  .page-head .time {
    margin-top: 20px;
  }

  .page-body div.i {
    margin: 10px 0;
  }

  .page-body div.i img {
    margin: 10px 0;
  }

  .page-body h1 {
    margin: 40px 0 20px;
  }

  .page-body h2 {
    margin: 35px 0 20px;
  }

  .page-body .tags {
    margin-bottom: 25px;
  }

  .page-body .tags .tag {
    margin: 4px;
  }

  .dev-item h1 {
    margin-bottom: 15px;
  }

  .tags .tag-name,
  .tags .tag-count {
    padding: 0 3px;
  }

  .page-count {
    margin: 8px 0 25px;
  }

  .pages li {
    margin: 5px -10px;
    padding: 20px;
  }

  .pages .page-time {
    margin: 0 10px 0 0;
  }

  .pages .name {
    padding: 10px 15px;
  }

  .pages .page-tags {
    margin: 0;
  }

  .foot {
    margin: 0 0 20px;
    padding: 20px;
  }
}

@media all and (max-width:480px) {
  blockquote {
    padding: 0 10px;
  }

  h1, h2, h3, h4, h5, h6, div {
    font-size: 12px;
  }

  ul {
    margin: 10px 0 20px;
    padding-inline-start: 20px;
  }

  li {
    margin: 5px 0;
  }

  table, .small, .tag, .nav a, .foot, .foot .lace,
  .page-head .tags, .page-head .time, .page-head .lmod,
  .dev-item ul, .tags, .page-count,
  .pages .page-time .time, .pages .page-time .lmod {
    font-size: 10px;
  }

  .tag-count {
    font-size: 9px;
  }

  .tag {
    margin: 2px;
    padding: 0 2px;
  }

  .nav {
    margin-top: 5px;
    padding: 10px;
  }

  .nav .links a {
    margin-left: 8px;
  }

  .page {
    padding: 10px;
  }

  .page code {
    font-size: 11px;
  }

  .page-head {
    margin-bottom: 20px;
  }

  .page-head h1.title {
    margin-top: 0;
  }

  .page-head .tags {
    margin-top: 5px;
  }

  .page-head .time {
    margin-top: 10px;
  }

  .page-body div.i {
    margin: 5px 0;
  }

  .page-body div.i img {
    margin: 5px 0;
  }

  .page-body h1 {
    margin: 30px 0 10px;
  }

  .page-body h2 {
    margin: 25px 0 10px;
  }

  .page-body .tags {
    margin-bottom: 10px;
  }

  .page-body .tags .tag {
    margin: 2px;
  }

  .dev-item h1 {
    margin-bottom: 10px;
  }

  .tags {
    margin: 0;
  }

  .tags .tag-name,
  .tags .tag-count {
    padding: 0 2px;
  }

  .page-count {
    margin: 5px 0 15px;
  }

  .pages li {
    margin: 0 -15px;
    padding: 15px;
  }

  .pages .page-time {
    margin: 0 10px 0 0;
  }

  .pages .name {
    padding: 8px 10px;
  }

  .pages .page-tags {
    margin: 0;
  }

  .foot {
    margin: 0;
    padding: 10px 10px 25px;
  }
}

