body {
  font-family: 'Source Code Pro', SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

h1, .nav {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, div {
  font-size: medium;
}

h1 {
  margin: 20px 0 40px;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.nav, .page {
  max-width: 800px;
  min-width: 240px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.nav a {
  color: #000000;
}

.nav a.here {
  font-weight: 700;
}

.nav .links a {
  margin-left: 20px;
}

.page {
  padding: 20px;
}

.page a {
  color: #4271ae;
}

.tag {
  display: inline-block;
  margin: 5px;
  border: 1px solid #aaaaaa;
}

.tag .name {
  display: inline-block;
  font-size: small;
  padding: 0 2px;
}

.clip .title {
  display: inline-block;
}

.clip .time {
  display: inline-block;
  margin-left: 10px;
}

.search {
  margin-bottom: 50px;
}
