body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

body, code {
  font-family: 'Source Code Pro', SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
}

a, p, li {
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

blockquote {
  border-left: 4px solid #e0e0e0;
  margin: 0;
  padding: 0 20px;
}

blockquote p {
  color: #606060
}

h1, h2, h3, h4, h5, h6, div {
  font-size: 16px;
}

h1 {
  color: #000000;
}

h2 {
  color: #606060;
}

h3, h4, h5, h6 {
  color: #909090;
  margin: 35px 0 25px;
}

hr {
  border-top: none;
  border-color: #e0e0e0;
}

img {
  max-width: 100%;
}

p {
  line-height: 1.7em;
}

ul {
  margin: 10px 0 30px;
}

li {
  margin: 10px 0;
  line-height: 1.5em;
}

li ul {
  margin: 10px 0 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, table th, table td {
  border: 1px solid #d0d0d0;
}

table th, table td {
  padding: 5px 10px;
}

table, .small, .tag, .nav a, .foot,
.page-head .tags, .page-head .time, .page-head .lmod,
.dev-item ul, .tags-list, .page-count,
.pages-list .page-time .time, .pages-list .page-time .lmod {
  font-size: 13px;
}

.faint {
  color: #909090;
}

.hide {
  display: none;
}

.sortable table th {
  cursor: pointer;
  padding-right: 5px;
}

.sortable table th:focus, .sortable table th:hover {
  background-color: #f8f8f8;
}

.sortable table th:after {
	content: '';
	float: right;
	margin-top: 5px;
	border-width: 0 5px 5px;
	border-style: solid;
	border-color: #606060 transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.sortable table th[aria-sort=ascending]:after {
  border-bottom: none;
  border-width: 5px 5px 0;
}

.sortable table th[aria-sort]:after {
  visibility: visible;
  opacity: 0.4;
}

.sortable table th:focus:after, .sortable table th:hover:after {
  visibility: visible;
  opacity: 1;
}

.tag {
  display: inline-block;
  background-color: #f0f0f0;
  color: #808080;
  border: 1px solid #e8e8e8;
  border-radius: 2px;
  margin: 5px;
  padding: 1px 2px;
  line-height: 1.4em;
}

.tag:focus, .tag:hover {
  color: #202020;
  border-color: #202020;
}

.tag.active {
  color: #000000;
  background-color: #e0e0e0;
  border-color: #000000;
}

.tag.clear {
  margin-left: 0;
  margin-right: 1px;
}

.nav, .page, .foot {
  max-width: 800px;
  min-width: 240px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  padding: 20px;
}

.nav a {
  color: #606060;
  padding: 4px;
}

.nav a:focus, .nav a:hover {
  color: #000000;
}

.nav a.here {
  font-weight: 700;
}

.nav .root {
  margin-right: 30px;
  white-space: nowrap;
}

.nav .cup {
  margin-left: -5px;
  margin-right: 10px;
  vertical-align: middle;
  opacity: .3;
}

.nav a:focus img.cup, .nav a:hover img.cup {
  opacity: 1;
}

.nav a.here .cup {
  opacity: .5;
}

.nav .links a {
  margin-left: 22px;
}

.page {
  padding: 20px;
}

.page a {
  color: #3f51b5;
}

.page a:focus, .page a:hover {
  color: #f50057;
}

.page code {
  font-size: 15px;
  background-color: #e0e0e0;
  padding: 2px 3px;
  border-radius: 2px;
}

.page p {
  text-align: justify;
}

.page pre {
  border-left: solid 3px #d0d0d0;
  overflow-x: auto;
}

.page pre code {
  display: inline-block;
  background-color: #f0f0f0;
  padding: .5em 1em;
  line-height: 2em;
  border-radius: 0;
}

.page-head {
  margin-bottom: 50px;
}

.page-head h1.title {
  margin: 20px 0 0;
  text-align: center;
}

.page-head .tags, .page-head .time, .page-head .lmod {
  text-align: center;
}

.page-head .tags {
  margin-top: 10px;
}

.page-head .time {
  color: #808080;
  margin-top: 25px;
}

.page-head .tags, .page-head .lmod {
  color: #b0b0b0;
}

.page-body h1 {
  margin: 60px 0 30px;
}

.page-body h2 {
  margin: 50px 0 30px;
}

.welcome p {
  color: #e0e0e0;
  line-height: 1.5em;
}

.dev-item h1 {
  margin-bottom: 20px;
}

.dev-item li {
  margin: 5px 0;
}

.tags-list, .pages-list {
  list-style: none;
  padding: 0;
}

.tags-list, .page-count {
  color: #b0b0b0;
  margin: 0 10px;
}

.tags-list li {
  display: inline;
}

.page-count {
  margin: 10px 0 40px;
}

.pages-list li {
  margin: 15px -15px;
  padding: 15px;
}

.pages-list li:focus, .pages-list li:hover {
  background-color: #f8f8f8;
}

.pages-list .page-link {
  padding: 10px;
  line-height: 2em;
}

.pages-list .page-time {
  float: left;
  margin-right: 1.5em;
}

.pages-list .page-time .time, .pages-list .page-time .lmod {
  font-weight: 400;
}

.pages-list .page-time .time {
  margin-top: -.5em;
}

.pages-list .page-time .lmod {
  opacity: .5;
  margin-top: -1em;
}

.pages-list .name {
  display: inline-block;
  font-weight: 700;
}

.pages-list ul.tags {
  display: inline-block;
  list-style: none;
  margin: 0 0 0 .5em;
  padding: 0;
}

.pages-list ul.tags li {
  display: inline;
  margin: 0;
  padding: 0;
}

.foot {
  padding: 50px 20px;
  text-align: right;
}

.foot:focus a, .foot:hover a {
  color: #3f51b5;
}

.foot:focus a.froot, .foot:hover a.froot {
  color: #808080;
}

.foot a {
  color: #9fa8eb;
}

.foot a.froot {
  color: #b0b0b0;
}

.foot a:focus, .foot a:hover {
  font-weight: bold;
}

@media all and (max-width: 900px) {
  h1, h2, h3, h4, h5, h6, div {
    font-size: 14px;
  }

  table, .small, .tag, .nav a, .foot,
  .page-head .tags, .page-head .time, .page-head .lmod,
  .dev-item ul, .tags-list, .page-count,
  .pages-list .page-time .time, .pages-list .page-time .lmod {
    font-size: 12px;
  }

  .page code {
    font-size: 13px;
  }
}
