body {
  font-family: 'Source Code Pro', SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.nav {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

a:focus, a:hover {
  color: blue !important;
}

a:visited {
  color: inherit;
}

h1, h2, h3, h4, h5, h6, div {
  font-size: medium;
}

h2 {
  color: #303030;
}

h3 {
  color: #606060;
}

h4, h5, h6 {
  color: #909090;
}

.hide {
  display: none;
}

.nav, .page {
  max-width: 800px;
  min-width: 240px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.nav a {
  color: #606060;
}

.nav a.here {
  font-weight: 700;
}

.nav .links a {
  margin-left: 20px;
}

.page {
  padding: 20px;
}

.page a {
  color: #4271ae;
}

.page-head {
  margin-bottom: 40px;
}

.page-head h1.title {
  margin: 20px 0 10px;
  text-align: center;
}

.page-head .tags, .page-head .time, .page-head .lmod {
  font-size: small;
  text-align: center;
}

.page-head .time {
  margin-top: 20px;
  color: #808080;
}

.page-head .tags, .page-head .lmod {
  color: #b0b0b0;
}

.page-body h1 {
  margin: 60px 0 30px;
}
.page-body h2 {
  margin: 50px 0 30px;
}

.page-list {
  list-style: none;
  padding: 0;
}

.page-list li {
  margin: 10px 0;
  padding: 30px 10px;
}

.page-list li:hover {
  background-color: #f0f0f0;
}

.page-list a {
  font-weight: 700;
}

.page-list .time {
  font-size: small;
  font-weight: 400;
}

.tag {
  display: inline-block;
  font-size: small;
  color: #808080;
  border: 1px solid #b0b0b0;
  border-radius: 2px;
  margin: 5px;
  padding: 1px 2px;
}

.tag .name {
  display: inline-block;
  font-size: small;
  padding: 0 2px;
}

.clip .title {
  display: inline-block;
}

.clip .time {
  display: inline-block;
  margin-left: 10px;
}
