body {
  background-color: #ffffff;
  margin: 0 0 50px;
  padding: 0;
}

body, code {
  font-family: 'Source Code Pro', SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
}

.nav {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

blockquote {
  border-left: 4px solid #e0e0e0;
  margin: 0;
  padding: 0 20px;
}

blockquote p {
  color: #606060
}

code {
  font-size: 15px;
  background-color: #e8e8e8;
  padding: 2px 3px;
}

h1, h2, h3, h4, h5, h6, div {
  font-size: medium;
}

h2 {
  color: #606060;
}

h3, h4, h5, h6 {
  color: #909090;
  margin: 35px 0 25px;
}

hr {
  border-top: none;
  border-color: #e0e0e0;
}

img {
  max-width: 100%;
}

p {
  word-wrap: break-word;
}

ul {
  margin: 10px 0 30px;
}

.hide {
  display: none;
}

.nav, .page {
  max-width: 800px;
  min-width: 240px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.nav a {
  color: #606060;
  padding: 2px;
}

.nav a:focus, .nav a:hover {
  color: #000000;
}

.nav a.here {
  font-weight: 700;
}

.nav .links a {
  margin-left: 26px;
}

.page {
  padding: 20px;
}

.page a {
  color: #3f51b5;
}

.page a:focus, .page a:hover {
  color: #f50057;
}

.page-head {
  margin-bottom: 50px;
}

.page-head h1.title {
  margin: 20px 0 0;
  text-align: center;
}

.page-head .tags, .page-head .time, .page-head .lmod {
  font-size: small;
  text-align: center;
}

.page-head .tags {
  margin-top: 10px;
}

.page-head .time {
  color: #808080;
  margin-top: 25px;
}

.page-head .tags, .page-head .lmod {
  color: #b0b0b0;
}

.page-body h1 {
  margin: 60px 0 30px;
}
.page-body h2 {
  margin: 50px 0 30px;
}

.welcome {
  color: #e0e0e0;
  line-height: 1.5em;
}

.tag-list, .page-list {
  list-style: none;
  padding: 0;
}

.tag-list, .page-count {
  font-size: small;
  color: #b0b0b0;
  margin: 0 10px;
}

.page-count {
  margin: 10px 0 40px;
}

.page-list li {
  margin: 10px 0;
  padding: 30px 10px;
}

.page-list li:focus, .page-list li:hover {
  background-color: #f8f8f8;
}

.page-list .page-name {
  font-weight: 700;
}

.page-list .time {
  font-size: small;
  font-weight: 400;
}

.small {
  font-size: small;
}

.tag {
  display: inline-block;
  font-size: small;
  color: #808080;
  border: 1px solid #b0b0b0;
  border-radius: 2px;
  margin: 5px;
  padding: 1px 2px;
}

.tag:focus, .tag:hover, .tag.active {
  color: #202020;
  border-color: #202020;
}

.tag.clear {
  margin-left: 0;
  margin-right: 1px;
}

.tag.flat {
  color: #b0b0b0;
  border: none;
  margin: 0;
  padding: 0;
}

.tag.flat:focus, .tag.flat:hover {
  color: #202020;
}
