body {
  font-family: 'Source Code Pro', monospace;
  background-color: #ffffff;
}

h1, .nav {
  font-family: 'Source Sans Pro', sans-serif;
}

.nav .root a {
  font-family: 'Source Code Pro', monospace;
}

h1, h2, h3, h4, h5, h6, div {
  font-size: medium;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.nav, .page {
  max-width: 800px;
  min-width: 240px;
  margin: 0 auto;
  padding: 10px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav .root a {
  font-weight: 700;
  color: #c82829;
}

.nav .root a:focus, .nav .root a:hover {
  color: #f5871f;
}

.nav .links a {
  color: #8959a8;
  margin-left: 20px;
}

.nav .links a:focus, .nav .links a:hover {
  color: #a3685a;
}

.page a {
  color: #4271ae;
}

.page a:focus, .page a:hover {
  color: #3e999f;
}
